<h1>MLB SPRING TRAINING ANALYSIS</h1>
<h4>Dataset contains information of all spring training games including WBC games that took place at the same time.</h4>
<h4>For consideration, spring training happened between 2023-02-28 and 2023-03-28</h4>

In [41]:
import pandas as pd
from os import getcwd

<h3>READ DATAFRAME</h3>

In [42]:
path = getcwd()
df = pd.read_csv(path+'/../output/results_df.csv', parse_dates=['game_date'])
df2 = pd.read_csv(path+'/../output/multi_date_results_df.csv',parse_dates=['game_date'])

In [69]:
df.shape
df.sample()
res = df.result == df2.result
print(res[res == False])

18      False
19      False
136     False
137     False
142     False
        ...
1011    False
1026    False
1027    False
1030    False
1031    False
Name: result, Length: 106, dtype: bool

In [76]:
df2.iloc[137]

game_date     2023-03-01 00:00:00
team                       Astros
opponent                  Red Sox
record                     2 - 2
1st_inning                      0
2nd_inning                      1
3rd_inning                      0
4th_inning                      0
5th_inning                      0
6th_inning                      2
7th_inning                      1
8th_inning                      0
9th_inning                      0
runs                            4
hits                            7
errors                          1
result                          T
Name: 137, dtype: object

<h3>DATAFRAME</h3>

<h5>transform date from string to datetime format</h5>

In [44]:
df.dtypes
#df.game_date = df.game_date.astype('datetime64[s]')
#df.game_date[df.game_date <= '2023-03-29'].unique()

game_date     datetime64[ns]
team                  object
opponent              object
record                object
1st_inning             int64
2nd_inning             int64
3rd_inning             int64
4th_inning             int64
5th_inning             int64
6th_inning            object
7th_inning            object
8th_inning            object
9th_inning            object
runs                   int64
hits                   int64
errors                 int64
result                object
dtype: object

<h5>Creating list of mlb teams</h5>

In [45]:
mlb_teams = sorted(df['team'].unique().tolist())
not_mlb_teams = ['Australia','Canada','China','Chinese Taipei','Colombia','Cuba','Czech Republic',
                 'Dominican Rep.','Great Britain','Huskies','Israel','Italy','Japan','Korea','Mexico',
                 'Mountaineers','Netherlands','Nicaragua','Panama','Puerto Rico','Space Cowboys',
                 'United States','Venezuela']

for team in not_mlb_teams:
    mlb_teams.remove(team)

len(mlb_teams)

30

<h5>Filtering DF so only MLB teams and Spring Training dates are considered</h5>

In [46]:
mlb_sprint_training_df = df2[(df2.team.isin(mlb_teams)) & (df2.opponent.isin(mlb_teams)) & (df2.game_date <= '2023-03-29')]
# mlb_sprint_training_df.team.nunique(), mlb_sprint_training_df.opponent.nunique()
mlb_sprint_training_df

,game_date,team,opponent,record,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning,runs,hits,errors,result
0,2023-02-24,Rangers,Royals,0 - 1,0,3,0,0,0,0,1,1,0,5,9,2,L
1,2023-02-24,Royals,Rangers,1 - 0,2,0,0,2,1,0,0,0,1,6,8,1,W
2,2023-02-24,Mariners,Padres,1 - 0,0,0,0,3,0,0,0,0,0,3,8,0,W
3,2023-02-24,Padres,Mariners,0 - 1,0,0,0,0,0,0,0,2,0,2,8,1,L
6,2023-02-25,Mets,Astros,1 - 1,2,0,0,0,0,0,0,0,0,2,4,4,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,2023-03-28,Cubs,White Sox,17 - 12,0,2,0,0,5,0,1,0,X,8,7,1,W
1054,2023-03-28,Guardians,D-backs,12 - 16,0,0,1,0,0,0,0,0,0,1,5,0,L
1055,2023-03-28,D-backs,Guardians,16 - 14,0,1,0,0,0,0,2,0,X,3,4,0,W
1056,2023-03-28,Dodgers,Angels,14 - 13,1,1,1,0,2,0,0,0,0,5,11,1,L
1057,2023-03-28,Angels,Dodgers,18 - 11,1,1,3,0,3,0,4,1,X,13,12,0,W

In [47]:
games_per_day = mlb_sprint_training_df.groupby(by='game_date').game_date.count()/2
games_per_day.apply(lambda x: int(x))

game_date
2023-02-24     2
2023-02-25    17
2023-02-26    16
2023-02-27    15
2023-02-28    16
2023-03-01    15
2023-03-02    15
2023-03-03    16
2023-03-04    18
2023-03-05    17
2023-03-06    11
2023-03-07    12
2023-03-08     9
2023-03-09     9
2023-03-10    16
2023-03-11    16
2023-03-12    16
2023-03-13    13
2023-03-14    15
2023-03-15     6
2023-03-16    14
2023-03-17    17
2023-03-18    17
2023-03-19    17
2023-03-20    11
2023-03-21    13
2023-03-22    14
2023-03-23    15
2023-03-24    17
2023-03-25    17
2023-03-26    16
2023-03-27    12
2023-03-28     9
Name: game_date, dtype: int64

<h5>top teams with more runs in Spring Training</h5>

In [48]:
mlb_sprint_training_df.groupby(by=mlb_sprint_training_df['team'])['runs'].sum().sort_values(ascending=False).head()

team
Royals     182
Braves     180
Tigers     179
Orioles    178
Reds       176
Name: runs, dtype: int64

In [49]:
mlb_sprint_training_df.groupby(by=mlb_sprint_training_df['team'])['hits'].sum().sort_values(ascending=False).head()

team
Braves     305
Angels     304
Rockies    304
Orioles    298
Royals     297
Name: hits, dtype: int64

In [50]:
mlb_sprint_training_df.groupby(by=mlb_sprint_training_df['team'])['errors'].sum().sort_values(ascending=False).head()

team
Giants       33
Rays         32
Mariners     30
Blue Jays    28
Rangers      27
Name: errors, dtype: int64

In [51]:
mlb_sprint_training_df[['team','opponent','record','runs','result']][mlb_sprint_training_df['team']=='Royals']

        team   opponent    record  runs result
1     Royals    Rangers    1 - 0      6      W
28    Royals    Rangers    2 - 0     10      W
59    Royals   Mariners    3 - 0      8      W
93    Royals    Brewers    3 - 1      4      L
118   Royals  Guardians    4 - 1     12      W
162   Royals    Rockies    5 - 1      8      W
183   Royals     Angels    6 - 1      8      W
208   Royals  Athletics    7 - 1      6      W
246   Royals       Reds    8 - 2     12      W
263   Royals    Dodgers    8 - 2      6      L
282   Royals     Giants    9 - 2      5      W
307   Royals    D-backs   10 - 2     10      W
369   Royals  White Sox   11 - 2     14      W
457   Royals     Padres   12 - 2      1      W
520   Royals    Brewers   13 - 2     12      W
555   Royals  Guardians   14 - 2      7      W
634   Royals   Mariners   14 - 4      6      L
643   Royals       Reds   14 - 4      3      L
664   Royals    Rangers   14 - 5      3      L
677   Royals  Athletics   15 - 5      2      W
724   Royals     Angels   15 - 6      1      L
747   Royals    Rockies   16 - 7      3      L
756   Royals    Rockies   16 - 7      8      W
796   Royals    D-backs   16 - 9      2      L
799   Royals    Rockies   16 - 9      0      L
853   Royals       Cubs  16 - 10      2      L
872   Royals  White Sox  17 - 10      4      W
900   Royals     Padres  17 - 11      3      L
919   Royals     Giants  18 - 11      3      W
958   Royals    Dodgers  19 - 11      6      W
998   Royals       Cubs  19 - 12      0      L
1030  Royals    Rangers  19 - 12      4      T
1048  Royals    Rangers  19 - 13      3      L

In [52]:
mlb_sprint_training_df[(mlb_sprint_training_df['team'].isin(['Royals','Rangers'])) & (mlb_sprint_training_df['opponent'].isin(['Royals','Rangers']))]

,game_date,team,opponent,record,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning,runs,hits,errors,result
0,2023-02-24,Rangers,Royals,0 - 1,0,3,0,0,0,0,1,1,0,5,9,2,L
1,2023-02-24,Royals,Rangers,1 - 0,2,0,0,2,1,0,0,0,1,6,8,1,W
28,2023-02-25,Royals,Rangers,2 - 0,0,0,0,7,1,0,1,0,1,10,10,0,W
29,2023-02-25,Rangers,Royals,0 - 2,0,3,0,0,0,0,0,0,2,5,9,0,L
664,2023-03-15,Royals,Rangers,14 - 5,0,0,0,0,0,2,0,1,0,3,5,1,L
665,2023-03-15,Rangers,Royals,8 - 11,0,1,1,0,0,1,0,0,1,4,4,2,W
1030,2023-03-27,Royals,Rangers,19 - 12,0,0,1,3,0,0,0,0,0,4,7,0,T
1031,2023-03-27,Rangers,Royals,12 - 15,0,0,0,0,0,0,2,2,0,4,8,0,T
1048,2023-03-28,Royals,Rangers,19 - 13,0,1,0,0,0,1,0,0,1,3,5,1,L
1049,2023-03-28,Rangers,Royals,13 - 15,0,0,0,0,0,1,3,1,X,5,8,1,W

In [53]:
mlb_sprint_training_df.result[mlb_sprint_training_df.team == 'Royals'].count()

33

In [54]:
df[(df.game_date == "2023-03-01") & (df.team == 'Rangers')]

,game_date,team,opponent,record,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning,runs,hits,errors,result
159,2023-03-01,Rangers,Dodgers,3 - 4,1,0,0,0,0,0,1,,,2,7,1,L
164,2023-03-01,Rangers,Padres,3 - 4,0,0,0,0,0,0,1,,,1,4,0,L

In [55]:
df[df['7th_inning'] == 'X']

,game_date,team,opponent,record,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning,runs,hits,errors,result
5,2023-02-24,Red Sox,Huskies,1 - 0,5,0,0,0,0,0,X,X,X,5,6,2,W
103,2023-02-27,D-backs,Mountaineers,1 - 0,1,5,0,0,0,0,X,X,X,6,8,1,W
165,2023-03-01,Padres,Rangers,4 - 2,0,3,0,1,1,0,X,,,5,7,1,W
531,2023-03-12,Canada,Great Britain,1 - 0,5,1,4,6,1,1,X,,,18,17,0,W
579,2023-03-13,United States,Canada,2 - 1,9,3,0,0,0,0,X,,,12,10,0,W
587,2023-03-13,Braves,Orioles,7 - 7,0,0,1,3,0,2,X,,,6,10,0,W
853,2023-03-21,Royals,Cubs,16 - 10,0,0,2,0,0,0,X,,,2,4,0,L

In [56]:
df.head(200)

,game_date,team,opponent,record,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning,runs,hits,errors,result
0,2023-02-24,Rangers,Royals,0 - 1,0,3,0,0,0,0,1,1,0,5,9,2,L
1,2023-02-24,Royals,Rangers,1 - 0,2,0,0,2,1,0,0,0,1,6,8,1,W
2,2023-02-24,Mariners,Padres,1 - 0,0,0,0,3,0,0,0,0,0,3,8,0,W
3,2023-02-24,Padres,Mariners,0 - 1,0,0,0,0,0,0,0,2,0,2,8,1,L
4,2023-02-24,Huskies,Red Sox,0 - 1,0,0,0,2,1,0,0,X,X,3,6,0,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2023-03-02,Brewers,Rangers,3 - 4,1,0,0,1,2,0,0,0,0,4,13,1,L
196,2023-03-03,Red Sox,Twins,5 - 0,3,0,4,0,1,0,0,1,0,9,9,2,W
197,2023-03-03,Twins,Red Sox,3 - 4,0,2,2,0,0,0,0,0,0,4,5,4,L
198,2023-03-03,Tigers,Phillies,5 - 3,0,0,3,1,1,0,0,1,0,6,11,0,W
199,2023-03-03,Phillies,Tigers,4 - 3,0,0,0,0,1,2,0,0,0,3,8,2,L