<h1>MLB SPRING TRAINING ANALYSIS</h1>
<h4>Dataset contains information of all spring training games including WBC games that took place at the same time.</h4>
<h4>For consideration, spring training happened between 2023-02-28 and 2023-03-28</h4>

In [106]:
import pandas as pd
from os import getcwd

<h3>READ DATAFRAME</h3>

In [108]:
path = getcwd()
df = pd.read_csv(path+'/../output/results_df.csv', parse_dates=['game_date'])

In [113]:
df.shape
df.sample(5)

,game_date,team,opponent,record,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning,runs,hits,errors,result
779,2023-03-19,Twins,Braves,8 - 12,0,0,0,0,0,0,0,0,0,0,2,2,L
610,2023-03-14,Israel,Dominican Rep.,1 - 2,0,0,0,0,0,0,0,,,0,1,1,L
341,2023-03-07,Padres,Angels,6 - 6,0,0,0,2,0,0,2,0,0,4,10,0,L
208,2023-03-03,Royals,Athletics,7 - 1,0,2,2,1,0,0,1,0,0,6,9,1,W
638,2023-03-14,Blue Jays,Yankees,11 - 7,0,0,2,0,1,0,0,0,0,3,9,1,L

<h3>DATAFRAME</h3>

<h5>transform date from string to datetime format</h5>

In [110]:
df.dtypes
#df.game_date = df.game_date.astype('datetime64[s]')
#df.game_date[df.game_date <= '2023-03-29'].unique()

game_date     datetime64[ns]
team                  object
opponent              object
record                object
1st_inning             int64
2nd_inning             int64
3rd_inning             int64
4th_inning             int64
5th_inning             int64
6th_inning            object
7th_inning            object
8th_inning            object
9th_inning            object
runs                   int64
hits                   int64
errors                 int64
result                object
dtype: object

<h5>Creating list of mlb teams</h5>

In [114]:
mlb_teams = sorted(df['team'].unique().tolist())
not_mlb_teams = ['Australia','Canada','China','Chinese Taipei','Colombia','Cuba','Czech Republic',
                 'Dominican Rep.','Great Britain','Huskies','Israel','Italy','Japan','Korea','Mexico',
                 'Mountaineers','Netherlands','Nicaragua','Panama','Puerto Rico','Space Cowboys',
                 'United States','Venezuela']

for team in not_mlb_teams:
    mlb_teams.remove(team)

len(mlb_teams)

30

<h5>Filtering DF so only MLB teams and Spring Training dates are considered</h5>

In [115]:
mlb_sprint_training_df = df[(df.team.isin(mlb_teams)) & (df.opponent.isin(mlb_teams)) & (df.game_date <= '2023-03-29')]
# mlb_sprint_training_df.team.nunique(), mlb_sprint_training_df.opponent.nunique()
mlb_sprint_training_df

,game_date,team,opponent,record,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning,runs,hits,errors,result
0,2023-02-24,Rangers,Royals,0 - 1,0,3,0,0,0,0,1,1,0,5,9,2,L
1,2023-02-24,Royals,Rangers,1 - 0,2,0,0,2,1,0,0,0,1,6,8,1,W
2,2023-02-24,Mariners,Padres,1 - 0,0,0,0,3,0,0,0,0,0,3,8,0,W
3,2023-02-24,Padres,Mariners,0 - 1,0,0,0,0,0,0,0,2,0,2,8,1,L
6,2023-02-25,Mets,Astros,1 - 1,2,0,0,0,0,0,0,0,0,2,4,4,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,2023-03-28,Cubs,White Sox,17 - 12,0,2,0,0,5,0,1,0,X,8,7,1,W
1054,2023-03-28,Guardians,D-backs,12 - 16,0,0,1,0,0,0,0,0,0,1,5,0,L
1055,2023-03-28,D-backs,Guardians,16 - 14,0,1,0,0,0,0,2,0,X,3,4,0,W
1056,2023-03-28,Dodgers,Angels,14 - 13,1,1,1,0,2,0,0,0,0,5,11,1,L
1057,2023-03-28,Angels,Dodgers,18 - 11,1,1,3,0,3,0,4,1,X,13,12,0,W

In [92]:
games_per_day = mlb_sprint_training_df.groupby(by='game_date').game_date.count()/2
games_per_day.apply(lambda x: int(x))

game_date
2023-02-24     2
2023-02-25    17
2023-02-26    16
2023-02-27    15
2023-02-28    16
2023-03-01    15
2023-03-02    15
2023-03-03    16
2023-03-04    18
2023-03-05    17
2023-03-06    11
2023-03-07    12
2023-03-08     9
2023-03-09     9
2023-03-10    16
2023-03-11    16
2023-03-12    16
2023-03-13    13
2023-03-14    15
2023-03-15     6
2023-03-16    14
2023-03-17    17
2023-03-18    17
2023-03-19    17
2023-03-20    11
2023-03-21    13
2023-03-22    14
2023-03-23    15
2023-03-24    17
2023-03-25    17
2023-03-26    16
2023-03-27    12
2023-03-28     9
Name: game_date, dtype: int64

<h5>top teams with more runs in Spring Training</h5>

In [117]:
mlb_sprint_training_df.groupby(by=mlb_sprint_training_df['team'])['runs'].sum().sort_values(ascending=False).head()

team
Royals     182
Braves     180
Tigers     179
Orioles    178
Reds       176
Name: runs, dtype: int64

In [53]:
df.groupby(by=df['team'])['hits'].sum().sort_values(ascending=False)

team
Braves            353
Rockies           347
Angels            336
Orioles           336
Rangers           321
Royals            318
D-backs           315
Reds              314
White Sox         313
Red Sox           313
Phillies          309
Padres            308
Tigers            306
Mariners          304
Cardinals         302
Blue Jays         301
Astros            301
Athletics         300
Yankees           299
Brewers           293
Giants            288
Guardians         286
Mets              279
Dodgers           275
Cubs              274
Twins             273
Rays              262
Pirates           261
Nationals         258
Marlins           237
United States      86
Mexico             79
Venezuela          68
Japan              66
Cuba               64
Puerto Rico        59
Dominican Rep.     57
Canada             52
Italy              47
Korea              44
Chinese Taipei     44
Great Britain      43
Colombia           41
Australia          40
Panama             37
Nicaragua          36
Israel             36
Netherlands        28
Czech Republic     28
China              18
Space Cowboys       6
Huskies             6
Mountaineers        1
Name: hits, dtype: int64

In [54]:
df.groupby(by=df['team'])['errors'].sum().sort_values(ascending=False)

team
Mariners          34
Rays              34
Giants            34
Rockies           30
Blue Jays         30
Athletics         29
Dodgers           28
Phillies          28
Angels            28
Rangers           27
Twins             27
Brewers           27
Braves            27
White Sox         26
Red Sox           26
Guardians         26
D-backs           25
Pirates           25
Marlins           24
Cubs              24
Royals            24
Mets              24
Nationals         22
Orioles           21
Cardinals         20
Tigers            18
Padres            18
Reds              18
Yankees           18
Astros            17
Great Britain      9
Israel             8
Colombia           6
Venezuela          6
Nicaragua          6
Mexico             4
Italy              4
Puerto Rico        4
China              4
Dominican Rep.     3
Czech Republic     3
Chinese Taipei     3
Japan              2
United States      2
Panama             1
Mountaineers       1
Korea              1
Canada             1
Australia          1
Cuba               1
Netherlands        1
Space Cowboys      0
Huskies            0
Name: errors, dtype: int64

In [55]:
df[df['team']=='Royals']

,game_date,team,opponent,record,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning,runs,hits,errors,result
1,2023-02-24,Royals,Rangers,1 - 0,2,0,0,2,1,0,0,0,1,6,8,1,W
28,2023-02-25,Royals,Rangers,2 - 0,0,0,0,7,1,0,1,0,1,10,10,0,W
59,2023-02-26,Royals,Mariners,3 - 0,5,0,0,0,0,3,0,0,X,8,11,0,W
93,2023-02-27,Royals,Brewers,3 - 1,0,0,3,1,0,0,0,0,0,4,11,1,L
118,2023-02-28,Royals,Guardians,4 - 1,0,0,3,0,0,2,0,1,6,12,15,0,W
162,2023-03-01,Royals,Rockies,5 - 1,0,0,0,2,0,0,1,0,5,8,11,2,W
183,2023-03-02,Royals,Angels,6 - 1,2,0,0,4,0,0,0,2,X,8,15,0,W
208,2023-03-03,Royals,Athletics,7 - 1,0,2,2,1,0,0,1,0,0,6,9,1,W
246,2023-03-04,Royals,Reds,8 - 2,2,1,1,0,1,0,3,2,2,12,14,0,W
263,2023-03-04,Royals,Dodgers,8 - 2,1,0,0,0,0,2,0,2,1,6,14,1,L
282,2023-03-05,Royals,Giants,9 - 2,1,0,0,3,1,0,0,0,0,5,11,0,W
307,2023-03-06,Royals,D-backs,10 - 2,1,2,0,2,0,4,0,1,X,10,13,1,W
369,2023-03-08,Royals,White Sox,11 - 2,5,6,1,0,0,1,1,0,X,14,16,3,W
427,2023-03-09,Royals,Great Britain,1 - 0,1,4,1,0,1,0,0,1,X,8,9,0,W
457,2023-03-10,Royals,Padres,12 - 2,0,0,0,0,0,1,0,0,X,1,5,1,W
520,2023-03-11,Royals,Brewers,13 - 2,4,0,1,0,0,3,1,0,3,12,14,0,W
555,2023-03-12,Royals,Guardians,14 - 2,1,1,0,0,2,1,2,0,X,7,10,0,W
634,2023-03-14,Royals,Mariners,14 - 4,1,0,1,0,0,0,0,2,2,6,7,1,L
643,2023-03-14,Royals,Reds,14 - 4,1,0,0,0,1,0,1,0,0,3,3,0,L
664,2023-03-15,Royals,Rangers,14 - 5,0,0,0,0,0,2,0,1,0,3,5,1,L
677,2023-03-16,Royals,Athletics,15 - 5,0,0,0,0,2,0,0,0,X,2,9,0,W
724,2023-03-17,Royals,Angels,15 - 6,0,0,0,1,0,0,0,0,0,1,7,0,L
747,2023-03-18,Royals,Rockies,16 - 7,1,1,0,0,0,0,1,0,0,3,10,1,L
756,2023-03-18,Royals,Rockies,16 - 7,0,4,0,0,4,0,0,0,0,8,10,4,W
796,2023-03-19,Royals,D-backs,16 - 9,0,0,0,0,0,0,0,0,2,2,8,5,L
799,2023-03-19,Royals,Rockies,16 - 9,0,0,0,0,0,X,,,,0,6,0,L
853,2023-03-21,Royals,Cubs,16 - 10,0,0,2,0,0,0,X,,,2,4,0,L
872,2023-03-23,Royals,Padres,17 - 11,2,0,0,0,1,0,0,0,0,3,6,0,L
902,2023-03-22,Royals,White Sox,17 - 10,0,1,0,3,0,0,0,0,0,4,5,0,W
919,2023-03-24,Royals,Giants,18 - 11,3,0,0,0,0,0,0,0,X,3,5,0,W
958,2023-03-25,Royals,Dodgers,19 - 11,0,0,3,1,0,0,1,0,1,6,8,0,W
998,2023-03-26,Royals,Cubs,19 - 12,0,0,0,0,0,0,0,0,0,0,5,0,L
1030,2023-03-27,Royals,Rangers,19 - 12,0,0,1,3,0,0,0,0,0,4,7,0,L
1048,2023-03-28,Royals,Rangers,19 - 13,0,1,0,0,0,1,0,0,1,3,5,1,L
1077,2023-03-30,Royals,Twins,0 - 1,0,0,0,0,0,0,0,0,0,0,2,0,L
1121,2023-04-01,Royals,Twins,0 - 2,0,0,0,0,0,0,0,0,0,0,4,0,L
1143,2023-04-02,Royals,Twins,0 - 3,0,1,0,0,0,0,2,0,1,4,6,0,L

In [56]:
df[(df.game_date == "2023-03-01") & (df.team == 'Rangers')]

,game_date,team,opponent,record,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning,runs,hits,errors,result
159,2023-03-01,Rangers,Dodgers,3 - 4,1,0,0,0,0,0,1,,,2,7,1,L
164,2023-03-01,Rangers,Padres,3 - 4,0,0,0,0,0,0,1,,,1,4,0,L

In [57]:
df[df['7th_inning'] == 'X']

,game_date,team,opponent,record,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning,runs,hits,errors,result
5,2023-02-24,Red Sox,Huskies,1 - 0,5,0,0,0,0,0,X,X,X,5,6,2,W
103,2023-02-27,D-backs,Mountaineers,1 - 0,1,5,0,0,0,0,X,X,X,6,8,1,W
165,2023-03-01,Padres,Rangers,4 - 2,0,3,0,1,1,0,X,,,5,7,1,W
531,2023-03-12,Canada,Great Britain,1 - 0,5,1,4,6,1,1,X,,,18,17,0,W
579,2023-03-13,United States,Canada,2 - 1,9,3,0,0,0,0,X,,,12,10,0,W
587,2023-03-13,Braves,Orioles,7 - 7,0,0,1,3,0,2,X,,,6,10,0,W
853,2023-03-21,Royals,Cubs,16 - 10,0,0,2,0,0,0,X,,,2,4,0,L