<h1>MLB ANALYSIS</h1>

<h4>Dataset contains information of all season, including spring training games & WBC games that took place at the same time.</h4>

<h5>For consideration<br>
<br>
<b>Spring Training</b><br>
Start date: 2023-02-24<br>
End date: 2023-03-28<br>
<br>
<b>Regular Season</b><br>
Start date: 2023-03-30<br>
End date: 2023-10-02<br>
<br>
<b>Postseason</b><br>
Wildcard Series: 2023-10-03 to 2023-10-05<br>
Divisional Series: 2023-10-07 to 2023-10-11<br>
League Championship Series: 2023-10-14 to 2023-10-18<br>
World Series: 2023-10-20 to 2023-10-27</h5>

In [36]:
import pandas as pd
from os import getcwd
pd.set_option("display.max_columns",None)

<h3>READ DATAFRAME</h3>

In [37]:
path = getcwd()
df = pd.read_csv(path+'/../output/results_df.csv', parse_dates=['game_date'])
season_up_to_date_DF = pd.read_csv(path+'/../output/multi_date_results_df.csv',parse_dates=['game_date'])

In [38]:
season_up_to_date_DF.shape
season_up_to_date_DF.sample(2)

,game_date,team,opponent,record,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning,10th_inning,11th_inning,12th_inning,13th_inning,14th_inning,15th_inning,16th_inning,extra_inning,runs,hits,errors,result
1459,2023-04-14,White Sox,Orioles,5 - 9,0,1,0,0,0,2,0,0,0,X,X,X,X,X,X,X,N,3,6,1,L
1427,2023-04-12,Rangers,Royals,7 - 5,1,0,0,0,0,0,0,0,0,X,X,X,X,X,X,X,N,1,4,0,L

In [39]:
season_up_to_date_DF.iloc[137]

game_date       2023-03-01 00:00:00
team                         Astros
opponent                    Red Sox
record                       2 - 2
1st_inning                        0
2nd_inning                        1
3rd_inning                        0
4th_inning                        0
5th_inning                        0
6th_inning                        2
7th_inning                        1
8th_inning                        0
9th_inning                        0
10th_inning                       X
11th_inning                       X
12th_inning                       X
13th_inning                       X
14th_inning                       X
15th_inning                       X
16th_inning                       X
extra_inning                      N
runs                              4
hits                              7
errors                            1
result                            T
Name: 137, dtype: object

<h3>DATAFRAME</h3>

In [40]:
season_up_to_date_DF.dtypes

#season_up_to_date_DF.game_date = df.game_date.astype(object).astype('datetime64[s]')
#df.game_date[df.game_date <= '2023-03-29'].unique()
season_up_to_date_DF[(season_up_to_date_DF.extra_inning=="Y") & (season_up_to_date_DF.game_date >= "2023-03-30")]

,game_date,team,opponent,record,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning,10th_inning,11th_inning,12th_inning,13th_inning,14th_inning,15th_inning,16th_inning,extra_inning,runs,hits,errors,result
1156,2023-04-02,Guardians,Mariners,3 - 1,0,3,0,0,1,0,1,0,0,1,X,X,X,X,X,X,Y,6,9,1,W
1157,2023-04-02,Mariners,Guardians,1 - 3,1,0,3,0,1,0,0,0,0,0,X,X,X,X,X,X,Y,5,9,1,L
1180,2023-04-03,Tigers,Astros,1 - 3,0,2,0,0,2,0,1,0,0,0,2,X,X,X,X,X,Y,7,9,1,W
1181,2023-04-03,Astros,Tigers,2 - 3,0,0,0,0,4,0,0,0,1,0,1,X,X,X,X,X,Y,6,9,0,L
1182,2023-04-03,Guardians,Athletics,4 - 1,2,0,0,3,0,2,0,3,0,2,X,X,X,X,X,X,Y,12,16,1,W
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5875,2023-09-30,Blue Jays,Rays,89 - 72,0,0,1,3,0,0,0,0,0,1,X,X,X,X,X,X,Y,5,7,1,L
5920,2023-10-01,Twins,Rockies,87 - 75,0,2,0,0,0,0,0,0,0,0,0,X,X,X,X,X,Y,2,9,1,L
5921,2023-10-01,Rockies,Twins,59 - 103,0,0,0,1,0,0,0,1,0,0,1,X,X,X,X,X,Y,3,4,1,W
5926,2023-10-01,Padres,White Sox,82 - 80,0,0,0,0,0,0,0,0,0,1,1,X,X,X,X,X,Y,2,7,1,W
5927,2023-10-01,White Sox,Padres,61 - 101,0,0,0,0,0,0,0,0,0,1,0,X,X,X,X,X,Y,1,7,0,L

In [41]:
season_up_to_date_DF[["team","1st_inning","2nd_inning","3rd_inning","4th_inning","5th_inning","6th_inning","7th_inning","8th_inning","9th_inning"]].groupby("team").sum().sort_values("1st_inning",ascending=False)

,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning
team,,,,,,,,,
Braves,165,127,141,137,138,0021102010000102520100300400003000000000000100...,00010200000010200X0001000001021010202000001111...,00002000010000100 1103001002002000000002010101...,30X00000X0000X004 0010X0X0030XXX030000010000XX...
Dodgers,133,102,108,122,118,0210010011000040000200010000000200000101000500...,2300000421000022301210001011010011020100050210...,0401 00010102100010000000100110101021001200000...,0X40 000XX101000X00011000000X00X0X0XX001100002...
Rays,125,119,108,117,116,0100001400320000000000000000102030030420000000...,0108110001000010300010000001100200010010201200...,0452001001211030000101000000121011101211010010...,000X00040X0X003XX00X0XX00X0X30XXX150XXXXXXX001...
Astros,125,96,110,108,95,1000214000000001303000000120012020100000000000...,3000116000011020000010000002200131000200010305...,0013001100100002003010300400900012000200100200...,X00001X0X03201X00010000X1X00X0X1XX211X0200200X...
Royals,125,94,86,117,80,0030200002041013100200000X00000001000200001000...,0100010130001001201000100 X0001000002000001010...,0000102022010100020100000 0000000000000313001...,11X065X0210XXXX3X200X0002 00X1001001X00001001...
Padres,125,104,90,95,134,0030000000002000011010001000100010001102000000...,00022X0000022200120000000000000000000000000003...,21110 1020002001020031611100010120002000000212...,03X21 000X30000X2001X0X0X0000000XX21001002000X...
D-backs,123,118,89,99,89,0040002000001010320000000000430000000031220000...,3100X00412300002200300000001000420000101030002...,0100X01002000010104010222100000300200040200000...,0003X010020100X00X0000XX000X001XX0001100XXXX1X...
Phillies,118,92,101,133,124,0061000202402000000200001200100000000000043000...,2200000000010000000100030011100010000120010000...,0100200000220230000000000001110000000110010000...,0XX0X000X000XX00324X000X00X10011000000X30X1003...
Cardinals,110,115,125,84,88,0000010000000001201104000122001000000001000102...,0020004001300010202321000000001001010000410010...,0230000000030000000040400010002100000000020200...,00X00X20X10XX0X0000X0X0005X0030XX0010001310X00...
Brewers,109,100,106,72,123,2103010000020010001000002000010050301000000300...,0000000220010100112000000030010010401030530000...,0203300100000202101002000300120300000000100100...,X033X000X11X0X000000203X001100000XX1X0X0100000...
Nationals,109,93,87,86,72,0002101203000101021000200000000000000030000000...,0000000000000100000001000010200011000101000020...,1000020200001405101000020000000000002100000020...,1110001011100X0X3X802X0X0000X01X100000000000X0...
Angels,109,103,129,103,118,0012000003020001022000002040101001000000001101...,0002000002130001110000000010100401000200000010...,0010010000000000000112000000100100022002100000...,0X02X0200XX0202X0X40X000000030XX0001000X30XX00...
Red Sox,108,91,117,107,92,0032224000200600000020004010230000200100400011...,X000004004006100000030000000000000022001011003...,X321100110010000000000400100120011301000030000...,X01X00X00XX3X2000000X0X0320002000022X000021010...
Reds,107,108,122,108,112,0300200432103000000003101100000300010000010000...,0100100004000000010020000010000000000000101002...,1103101000000401020000100001003000020011200050...,1003000210XX010X2004X01XX000100XXX0013200X1X0X...
Rangers,106,121,115,157,122,0001100020000030101100000020001000012003700000...,1000011010000000030001040102123060001010010006...,10501 100100012020003000020021030000000000003...,0204X 1X1X0003X201000X00X0000XXXX00X010X00100...
Mariners,103,101,110,139,108,0000000111000216000000020111000000000030000004...,0010000000100003020010002020010000003200000100...,0000112000003010020000100030000300000000001200...,0000X0100002XX0X0X00300XX0X3100X0000X0001100XX...
Cubs,102,96,139,102,113,0100000100011601211300102000100001001120030002...,0010200000113200000301020400000100106010000000...,10000000000040000100100 1400000000203040000300...,X0001XX2X332XX211000003 0XX00X0XX0001XX00X1200...
Yankees,101,77,95,103,102,0310000011200000000400025000002100000012000200...,0004000200000000000003000100001202020020000010...,0022000000000000003312000000000300100001010000...,0X0X024028X0410000X00000X10000XX0X1XX1X0000111...
Rockies,100,100,83,106,108,3000101000000000010100000000010301030000014200...,25001001000100011000100 0260010002001000300102...,24100001240100010000010 2004022010000000000000...,1X0000100X000X002100030 X00010000000002X04XX00...
Twins,100,110,116,98,72,1001000001100012300000100200012102110001100000...,1200000003012010400001200000002010032010000000...,0010100050020000000000000101001040010000400020...,0X10X2300X023X2X0X020000X004100X00001010X000X0...
Orioles,99,117,123,121,120,2013010100200010250000000010001000000010211000...,3000000010102100102000000001040020200020005204...,01000000242002003 0004010001410000000000110002...,X0001000030X002XX 0X12X00X0010X1000000X00XX010...
Tigers,97,82,116,78,107,1100000130121004010000000001010001001000000000...,2000250300020512000000300000000000010000002000...,0003001000021106042500000000010400002100000103...,X1001X01000XX000X00X0X000100300100101003000000...
Guardians,96,83,83,98,97,0024600020000000030002020220000000020200000010...,0320040200010000000100300000020001100201010020...,0100001310000103100000000000000010030000000010...,000001XX010X20X100X00XX000X1X000000000002X0001...
Athletics,93,82,82,70,98,2112100030000000000100000000000400001000000001...,0500200130100000400000000100030100000010000001...,1010400000300040200103000020000020000400000300...,X010411001000X70X1000X0120201020X0021010001100...
White Sox,87,87,96,78,78,0022000200100001000204000010100202000000000220...,0010300040420102010100100400000000230050000010...,0041220000001100010000002002001001100000000000...,10X0X0X10X0111010000000000005020120X3200011000...
Giants,84,73,107,79,100,2100011310001200130000001000100020002010000000...,0000100000001102010000120100114000000000001000...,0311201300100000111011230000010000002003030300...,120020X00000XX03X0000XX1X000X0002052400X0X1000...
Pirates,79,84,94,115,88,1010010120003000000102022000004000001000020100...,0011000000110100001401000020000000012000000100...,2203000001420000010411000203000100000100000201...,03X01000X1X030X01000XX002010130000000X1X030100...
Marlins,79,57,95,80,92,0222011001030003000000001010300000001003000010...,0000010200100000000010000000000000001131002020...,0000120100030000010000100100010000430003100000...,00000020000X2X00X0001000X0000X000XX000000XX0XX...
Blue Jays,75,107,95,103,113,0001000000001004030001100000400100010110006000...,3000200007000202010200000000001011002001304000...,0001010002000000000100000200010002101120000500...,0000X0030X000X0X4X0X200X03X0X01002001000000X20...
Mets,71,75,125,125,127,0000000000003010000000000001202000000120001101...,0010000000300011210000120003002011000200301020...,0030110030100110000000000000200000000300000000...,0XX3022000000X0002000X001100000110000XX0X1X401...
United States,14,6,9,6,6,101000040,0101X0000,0003 0411,00X0 00X0
Venezuela,12,7,1,7,10,1010010,0000001,1010000,11X0X00
Canada,8,2,5,10,1,001000,02X001,00 10,30 30
Puerto Rico,8,4,5,0,9,0004000,0030000,1001100,10X0 00
Korea,7,3,11,6,7,110,001,300,00X
Cuba,6,4,1,1,4,004000,115000,012000,000XX0
Mexico,4,3,3,8,6,03000400,00101230,02040102,0100X0X0
Japan,4,4,11,8,7,0500000,1200230,4020010,XXX0X2X
Australia,4,1,2,6,1,01002,31020,3 030,0 120
Great Britain,4,3,1,7,2,000001,001020,000 00,000 X0
Dominican Rep.,3,0,9,2,1,400140,000130,0000 0,0100 0
Czech Republic,3,0,2,0,1,1000,0020,0012,4000
China,2,0,0,2,1,100,040,00,00
Colombia,2,2,2,4,3,100000,011000,010000,000200
Chinese Taipei,1,6,5,1,1,1200,2100,1310,0XX1
Netherlands,1,0,4,0,1,3000,0000,0120,XX10
Panama,0,5,0,5,0,6100,1001,0000,0000
Nicaragua,0,2,0,1,2,030000,010000,000010,000000
NL All-Stars,0,0,0,1,0,0,0,2,0
Space Cowboys,0,0,0,1,0,10,00,00,00
Mountaineers,0,0,0,0,0,0,0,X,X
Italy,0,2,0,10,3,10000,10000,00011,000X0
Israel,0,1,1,3,5,000000,000001,0030 0,04X 0
Huskies,0,0,0,2,1,0,0,X,X
AL All-Stars,0,1,0,0,0,1,0,0,0

In [44]:
season_up_to_date_DF["6th_inning"].unique()
season_up_to_date_DF[season_up_to_date_DF["6th_inning"]==' ']

,game_date,team,opponent,record,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning,10th_inning,11th_inning,12th_inning,13th_inning,14th_inning,15th_inning,16th_inning,extra_inning,runs,hits,errors,result
570,2023-03-13,Korea,China,2 - 2,2,2,8,6,4,,,,,X,X,X,X,X,X,X,N,22,20,0,W
571,2023-03-13,China,Korea,0 - 4,2,0,0,0,0,,,,,X,X,X,X,X,X,X,N,2,4,0,L
1834,2023-04-28,Braves,Mets,18 - 9,0,0,0,0,4,,,,,X,X,X,X,X,X,X,N,4,5,0,W
1835,2023-04-28,Mets,Braves,15 - 12,0,0,0,0,0,,,,,X,X,X,X,X,X,X,N,0,3,0,L

In [35]:
season_up_to_date_DF[["6th_inning",
                     "7th_inning",
                     "8th_inning",
                     "9th_inning",
                     "10th_inning",
                     "11th_inning",
                     "12th_inning",
                     "13th_inning",
                     "14th_inning",
                     "15th_inning",
                     "16th_inning"]].apply(pd.to_numeric,"coerce")

ValueError: No axis named coerce for object type DataFrame

<h5>Creating list of mlb teams</h5>

In [ ]:
mlb_teams = sorted(df['team'].unique().tolist())
not_mlb_teams = ['Australia','Canada','China','Chinese Taipei','Colombia','Cuba','Czech Republic',
                 'Dominican Rep.','Great Britain','Huskies','Israel','Italy','Japan','Korea','Mexico',
                 'Mountaineers','Netherlands','Nicaragua','Panama','Puerto Rico','Space Cowboys',
                 'United States','Venezuela']

for team in not_mlb_teams:
    mlb_teams.remove(team)

len(mlb_teams)

30

<h5>Filtering DF so only MLB teams and Spring Training dates are considered</h5>

In [ ]:
mlb_sprint_training_df = df2[(df2.team.isin(mlb_teams)) & (df2.opponent.isin(mlb_teams)) & (df2.game_date <= '2023-03-29')]
# mlb_sprint_training_df.team.nunique(), mlb_sprint_training_df.opponent.nunique()
mlb_sprint_training_df

,game_date,team,opponent,record,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning,runs,hits,errors,result
0,2023-02-24,Rangers,Royals,0 - 1,0,3,0,0,0,0,1,1,0,5,9,2,L
1,2023-02-24,Royals,Rangers,1 - 0,2,0,0,2,1,0,0,0,1,6,8,1,W
2,2023-02-24,Mariners,Padres,1 - 0,0,0,0,3,0,0,0,0,0,3,8,0,W
3,2023-02-24,Padres,Mariners,0 - 1,0,0,0,0,0,0,0,2,0,2,8,1,L
6,2023-02-25,Mets,Astros,1 - 1,2,0,0,0,0,0,0,0,0,2,4,4,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,2023-03-28,Cubs,White Sox,17 - 12,0,2,0,0,5,0,1,0,X,8,7,1,W
1054,2023-03-28,Guardians,D-backs,12 - 16,0,0,1,0,0,0,0,0,0,1,5,0,L
1055,2023-03-28,D-backs,Guardians,16 - 14,0,1,0,0,0,0,2,0,X,3,4,0,W
1056,2023-03-28,Dodgers,Angels,14 - 13,1,1,1,0,2,0,0,0,0,5,11,1,L
1057,2023-03-28,Angels,Dodgers,18 - 11,1,1,3,0,3,0,4,1,X,13,12,0,W

In [ ]:
games_per_day = mlb_sprint_training_df.groupby(by='game_date').game_date.count()/2
games_per_day.apply(lambda x: int(x))

game_date
2023-02-24     2
2023-02-25    17
2023-02-26    16
2023-02-27    15
2023-02-28    16
2023-03-01    15
2023-03-02    15
2023-03-03    16
2023-03-04    18
2023-03-05    17
2023-03-06    11
2023-03-07    12
2023-03-08     9
2023-03-09     9
2023-03-10    16
2023-03-11    16
2023-03-12    16
2023-03-13    13
2023-03-14    15
2023-03-15     6
2023-03-16    14
2023-03-17    17
2023-03-18    17
2023-03-19    17
2023-03-20    11
2023-03-21    13
2023-03-22    14
2023-03-23    15
2023-03-24    17
2023-03-25    17
2023-03-26    16
2023-03-27    12
2023-03-28     9
Name: game_date, dtype: int64

<h5>top teams with more runs in Spring Training</h5>

In [ ]:
mlb_sprint_training_df.groupby(by=mlb_sprint_training_df['team'])['runs'].sum().sort_values(ascending=False).head()

team
Royals     182
Braves     180
Tigers     179
Orioles    178
Reds       176
Name: runs, dtype: int64

In [ ]:
mlb_sprint_training_df.groupby(by=mlb_sprint_training_df['team'])['hits'].sum().sort_values(ascending=False).head()

team
Braves     305
Angels     304
Rockies    304
Orioles    298
Royals     297
Name: hits, dtype: int64

In [ ]:
mlb_sprint_training_df.groupby(by=mlb_sprint_training_df['team'])['errors'].sum().sort_values(ascending=False).head()

team
Giants       33
Rays         32
Mariners     30
Blue Jays    28
Rangers      27
Name: errors, dtype: int64

In [ ]:
mlb_sprint_training_df[['team','opponent','record','runs','result']][mlb_sprint_training_df['team']=='Royals']

        team   opponent    record  runs result
1     Royals    Rangers    1 - 0      6      W
28    Royals    Rangers    2 - 0     10      W
59    Royals   Mariners    3 - 0      8      W
93    Royals    Brewers    3 - 1      4      L
118   Royals  Guardians    4 - 1     12      W
162   Royals    Rockies    5 - 1      8      W
183   Royals     Angels    6 - 1      8      W
208   Royals  Athletics    7 - 1      6      W
246   Royals       Reds    8 - 2     12      W
263   Royals    Dodgers    8 - 2      6      L
282   Royals     Giants    9 - 2      5      W
307   Royals    D-backs   10 - 2     10      W
369   Royals  White Sox   11 - 2     14      W
457   Royals     Padres   12 - 2      1      W
520   Royals    Brewers   13 - 2     12      W
555   Royals  Guardians   14 - 2      7      W
634   Royals   Mariners   14 - 4      6      L
643   Royals       Reds   14 - 4      3      L
664   Royals    Rangers   14 - 5      3      L
677   Royals  Athletics   15 - 5      2      W
724   Royals     Angels   15 - 6      1      L
747   Royals    Rockies   16 - 7      3      L
756   Royals    Rockies   16 - 7      8      W
796   Royals    D-backs   16 - 9      2      L
799   Royals    Rockies   16 - 9      0      L
853   Royals       Cubs  16 - 10      2      L
872   Royals  White Sox  17 - 10      4      W
900   Royals     Padres  17 - 11      3      L
919   Royals     Giants  18 - 11      3      W
958   Royals    Dodgers  19 - 11      6      W
998   Royals       Cubs  19 - 12      0      L
1030  Royals    Rangers  19 - 12      4      T
1048  Royals    Rangers  19 - 13      3      L

In [ ]:
mlb_sprint_training_df[(mlb_sprint_training_df['team'].isin(['Royals','Rangers'])) & (mlb_sprint_training_df['opponent'].isin(['Royals','Rangers']))]

,game_date,team,opponent,record,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning,runs,hits,errors,result
0,2023-02-24,Rangers,Royals,0 - 1,0,3,0,0,0,0,1,1,0,5,9,2,L
1,2023-02-24,Royals,Rangers,1 - 0,2,0,0,2,1,0,0,0,1,6,8,1,W
28,2023-02-25,Royals,Rangers,2 - 0,0,0,0,7,1,0,1,0,1,10,10,0,W
29,2023-02-25,Rangers,Royals,0 - 2,0,3,0,0,0,0,0,0,2,5,9,0,L
664,2023-03-15,Royals,Rangers,14 - 5,0,0,0,0,0,2,0,1,0,3,5,1,L
665,2023-03-15,Rangers,Royals,8 - 11,0,1,1,0,0,1,0,0,1,4,4,2,W
1030,2023-03-27,Royals,Rangers,19 - 12,0,0,1,3,0,0,0,0,0,4,7,0,T
1031,2023-03-27,Rangers,Royals,12 - 15,0,0,0,0,0,0,2,2,0,4,8,0,T
1048,2023-03-28,Royals,Rangers,19 - 13,0,1,0,0,0,1,0,0,1,3,5,1,L
1049,2023-03-28,Rangers,Royals,13 - 15,0,0,0,0,0,1,3,1,X,5,8,1,W

In [ ]:
mlb_sprint_training_df.result[mlb_sprint_training_df.team == 'Royals'].count()

33

In [ ]:
df[(df.game_date == "2023-03-01") & (df.team == 'Rangers')]

,game_date,team,opponent,record,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning,runs,hits,errors,result
159,2023-03-01,Rangers,Dodgers,3 - 4,1,0,0,0,0,0,1,,,2,7,1,L
164,2023-03-01,Rangers,Padres,3 - 4,0,0,0,0,0,0,1,,,1,4,0,L

In [ ]:
df[df['7th_inning'] == 'X']

,game_date,team,opponent,record,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning,runs,hits,errors,result
5,2023-02-24,Red Sox,Huskies,1 - 0,5,0,0,0,0,0,X,X,X,5,6,2,W
103,2023-02-27,D-backs,Mountaineers,1 - 0,1,5,0,0,0,0,X,X,X,6,8,1,W
165,2023-03-01,Padres,Rangers,4 - 2,0,3,0,1,1,0,X,,,5,7,1,W
531,2023-03-12,Canada,Great Britain,1 - 0,5,1,4,6,1,1,X,,,18,17,0,W
579,2023-03-13,United States,Canada,2 - 1,9,3,0,0,0,0,X,,,12,10,0,W
587,2023-03-13,Braves,Orioles,7 - 7,0,0,1,3,0,2,X,,,6,10,0,W
853,2023-03-21,Royals,Cubs,16 - 10,0,0,2,0,0,0,X,,,2,4,0,L

In [ ]:
df.head(200)

,game_date,team,opponent,record,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning,runs,hits,errors,result
0,2023-02-24,Rangers,Royals,0 - 1,0,3,0,0,0,0,1,1,0,5,9,2,L
1,2023-02-24,Royals,Rangers,1 - 0,2,0,0,2,1,0,0,0,1,6,8,1,W
2,2023-02-24,Mariners,Padres,1 - 0,0,0,0,3,0,0,0,0,0,3,8,0,W
3,2023-02-24,Padres,Mariners,0 - 1,0,0,0,0,0,0,0,2,0,2,8,1,L
4,2023-02-24,Huskies,Red Sox,0 - 1,0,0,0,2,1,0,0,X,X,3,6,0,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2023-03-02,Brewers,Rangers,3 - 4,1,0,0,1,2,0,0,0,0,4,13,1,L
196,2023-03-03,Red Sox,Twins,5 - 0,3,0,4,0,1,0,0,1,0,9,9,2,W
197,2023-03-03,Twins,Red Sox,3 - 4,0,2,2,0,0,0,0,0,0,4,5,4,L
198,2023-03-03,Tigers,Phillies,5 - 3,0,0,3,1,1,0,0,1,0,6,11,0,W
199,2023-03-03,Phillies,Tigers,4 - 3,0,0,0,0,1,2,0,0,0,3,8,2,L