In [135]:
import pandas as pd
from os import getcwd

In [136]:
path = getcwd()
df = pd.read_csv(path+'/../output/results_df.csv')

In [137]:
df.shape
df.head()

,game_date,team,opponent,record,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning,runs,hits,errors,result
0,2023-02-24,Rangers,Royals,0 - 1,0,3,0,0,0,0,1,1,0,5,9,2,L
1,2023-02-24,Royals,Rangers,1 - 0,2,0,0,2,1,0,0,0,1,6,8,1,W
2,2023-02-24,Mariners,Padres,1 - 0,0,0,0,3,0,0,0,0,0,3,8,0,W
3,2023-02-24,Padres,Mariners,0 - 1,0,0,0,0,0,0,0,2,0,2,8,1,L
4,2023-02-24,Huskies,Red Sox,0 - 1,0,0,0,2,1,0,0,X,X,3,6,0,L

In [138]:
df[['game_date']].drop_duplicates()

      game_date
0    2023-02-24
6    2023-02-25
40   2023-02-26
72   2023-02-27
104  2023-02-28
136  2023-03-01
166  2023-03-02
196  2023-03-03
228  2023-03-04
264  2023-03-05
298  2023-03-06
320  2023-03-07
346  2023-03-08
390  2023-03-09
436  2023-03-10
476  2023-03-11

In [139]:
df.groupby(by=df['team'])['runs'].sum().sort_values(ascending=False)

team
Royals            130
Reds              115
Red Sox           105
Tigers            103
Rangers           100
Athletics          96
Padres             91
Mets               90
Yankees            87
Rays               86
Phillies           86
Cubs               86
Brewers            85
D-backs            84
Angels             83
Blue Jays          83
Twins              82
Rockies            78
Guardians          78
Orioles            78
Dodgers            78
Giants             76
Braves             75
Cardinals          74
Astros             67
Pirates            67
Mariners           66
White Sox          66
Nationals          56
Marlins            54
Japan              31
Chinese Taipei     26
Cuba               25
Australia          20
Venezuela          20
Panama             19
Korea              18
Mexico             15
Israel             14
United States      13
Czech Republic     13
Colombia           13
Italy              13
Puerto Rico        12
Netherlands        12
Dominican Rep.     11
Canada             10
China               8
Nicaragua           7
Great Britain       5
Huskies             3
Mountaineers        0
Name: runs, dtype: int64

In [140]:
df.groupby(by=df['team'])['hits'].sum().sort_values(ascending=False)

team
Royals            186
Reds              170
Rangers           160
Tigers            156
Angels            149
D-backs           147
Mets              146
Red Sox           144
Padres            144
Cubs              143
Giants            142
Athletics         141
Blue Jays         141
Rockies           138
Mariners          138
Braves            138
Phillies          135
Brewers           134
Orioles           134
Yankees           130
Cardinals         128
White Sox         125
Guardians         123
Twins             123
Dodgers           121
Nationals         120
Astros            118
Rays              116
Marlins           112
Pirates           112
Cuba               45
Chinese Taipei     44
Panama             37
Japan              33
Venezuela          31
Mexico             29
Italy              27
Korea              24
Dominican Rep.     24
Puerto Rico        24
Great Britain      24
United States      23
Colombia           23
Australia          22
Netherlands        21
Czech Republic     20
Israel             19
Nicaragua          16
China              14
Canada             13
Huskies             6
Mountaineers        1
Name: hits, dtype: int64

In [141]:
df.groupby(by=df['team'])['errors'].sum().sort_values(ascending=False)

team
Twins             20
Mets              19
Giants            18
Blue Jays         16
Rangers           16
Angels            15
D-backs           15
Brewers           15
Rays              15
White Sox         14
Rockies           14
Pirates           14
Phillies          14
Nationals         14
Dodgers           13
Mariners          13
Athletics         12
Guardians         12
Tigers            12
Marlins           12
Cardinals         12
Yankees           11
Cubs              11
Royals            11
Braves            11
Red Sox           11
Padres            10
Reds              10
Astros             9
Orioles            6
Israel             4
Great Britain      4
Nicaragua          4
Mexico             4
China              4
Colombia           4
Czech Republic     3
Chinese Taipei     3
Puerto Rico        3
Italy              3
Dominican Rep.     2
Venezuela          2
Japan              2
United States      1
Australia          1
Mountaineers       1
Korea              1
Cuba               1
Panama             1
Canada             1
Huskies            0
Netherlands        0
Name: errors, dtype: int64

In [142]:
df[df['team']=='Royals']

,game_date,team,opponent,record,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning,runs,hits,errors,result
1,2023-02-24,Royals,Rangers,1 - 0,2,0,0,2,1,0,0,0,1,6,8,1,W
28,2023-02-25,Royals,Rangers,2 - 0,0,0,0,7,1,0,1,0,1,10,10,0,W
59,2023-02-26,Royals,Mariners,3 - 0,5,0,0,0,0,3,0,0,X,8,11,0,W
93,2023-02-27,Royals,Brewers,3 - 1,0,0,3,1,0,0,0,0,0,4,11,1,L
118,2023-02-28,Royals,Guardians,4 - 1,0,0,3,0,0,2,0,1,6,12,15,0,W
162,2023-03-01,Royals,Rockies,5 - 1,0,0,0,2,0,0,1,0,5,8,11,2,W
183,2023-03-02,Royals,Angels,6 - 1,2,0,0,4,0,0,0,2,X,8,15,0,W
208,2023-03-03,Royals,Athletics,7 - 1,0,2,2,1,0,0,1,0,0,6,9,1,W
246,2023-03-04,Royals,Reds,8 - 2,2,1,1,0,1,0,3,2,2,12,14,0,W
263,2023-03-04,Royals,Dodgers,8 - 2,1,0,0,0,0,2,0,2,1,6,14,1,L
282,2023-03-05,Royals,Giants,9 - 2,1,0,0,3,1,0,0,0,0,5,11,0,W
307,2023-03-06,Royals,D-backs,10 - 2,1,2,0,2,0,4,0,1,X,10,13,1,W
369,2023-03-08,Royals,White Sox,11 - 2,5,6,1,0,0,1,1,0,X,14,16,3,W
427,2023-03-09,Royals,Great Britain,1 - 0,1,4,1,0,1,0,0,1,X,8,9,0,W
457,2023-03-10,Royals,Padres,12 - 2,0,0,0,0,0,1,0,0,X,1,5,1,W
520,2023-03-11,Royals,Brewers,13 - 2,4,0,1,0,0,3,1,0,3,12,14,0,W

In [144]:
df[df.game_date == "2023-03-01"]

,game_date,team,opponent,record,1st_inning,2nd_inning,3rd_inning,4th_inning,5th_inning,6th_inning,7th_inning,8th_inning,9th_inning,runs,hits,errors,result
136,2023-03-01,Red Sox,Astros,3 - 0,2,0,0,0,0,2,0,0,0,4,7,2,L
137,2023-03-01,Astros,Red Sox,2 - 2,0,1,0,0,0,2,1,0,0,4,7,1,W
138,2023-03-01,Pirates,Tigers,1 - 3,0,1,0,0,2,0,1,3,0,7,9,0,L
139,2023-03-01,Tigers,Pirates,2 - 3,4,0,0,1,0,0,2,0,1,8,9,1,W
140,2023-03-01,Blue Jays,Orioles,3 - 3,0,0,0,1,0,0,0,1,0,2,9,1,W
141,2023-03-01,Orioles,Blue Jays,2 - 3,0,0,0,0,0,0,0,0,1,1,2,1,L
142,2023-03-01,Phillies,Twins,4 - 1,0,2,0,0,2,0,0,0,0,4,7,1,L
143,2023-03-01,Twins,Phillies,2 - 3,0,1,0,1,0,0,0,0,2,4,9,2,W
144,2023-03-01,Rays,Braves,2 - 2,0,0,1,0,1,0,1,0,0,3,6,2,L
145,2023-03-01,Braves,Rays,1 - 2,0,0,0,0,0,1,0,2,0,3,6,0,W
146,2023-03-01,Nationals,Yankees,2 - 3,0,0,1,0,0,1,0,0,0,2,5,0,L
147,2023-03-01,Yankees,Nationals,4 - 2,0,0,0,2,0,0,0,0,2,4,6,0,W
148,2023-03-01,Mets,Marlins,3 - 3,0,0,2,2,1,0,0,1,2,8,11,2,W
149,2023-03-01,Marlins,Mets,1 - 4,0,1,1,0,1,0,0,1,0,4,8,1,L
150,2023-03-01,Brewers,Angels,3 - 3,1,1,0,0,0,1,0,0,0,3,7,0,L
151,2023-03-01,Angels,Brewers,4 - 1,3,0,0,1,0,0,0,0,X,4,6,1,W
152,2023-03-01,Athletics,Reds,2 - 2,2,0,0,0,1,1,2,4,4,14,17,1,L
153,2023-03-01,Reds,Athletics,2 - 2,0,0,1,0,0,2,1,10,0,14,12,1,W
154,2023-03-01,Mariners,Cubs,2 - 4,0,0,0,0,2,0,0,1,0,3,13,0,L
155,2023-03-01,Cubs,Mariners,2 - 4,0,0,0,5,0,0,0,0,X,5,7,0,W
156,2023-03-01,D-backs,Giants,2 - 4,0,1,0,2,1,2,0,1,1,8,13,0,W
157,2023-03-01,Giants,D-backs,2 - 3,0,0,0,0,0,0,1,2,2,5,8,0,L
158,2023-03-01,Dodgers,Rangers,3 - 2,1,1,1,0,1,0,0,,,4,6,0,W
159,2023-03-01,Rangers,Dodgers,3 - 4,1,0,0,0,0,0,1,,,2,7,1,L
160,2023-03-01,Guardians,White Sox,2 - 4,2,0,1,1,0,0,4,0,1,9,9,1,W
161,2023-03-01,White Sox,Guardians,2 - 3,0,0,0,1,0,0,3,2,X,6,9,3,L
162,2023-03-01,Royals,Rockies,5 - 1,0,0,0,2,0,0,1,0,5,8,11,2,W
163,2023-03-01,Rockies,Royals,3 - 2,1,3,0,0,0,1,1,0,0,6,10,1,L
164,2023-03-01,Rangers,Padres,3 - 4,0,0,0,0,0,0,1,,,1,4,0,L
165,2023-03-01,Padres,Rangers,4 - 2,0,3,0,1,1,0,X,,,5,7,1,W